@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ClientesMvc.Models.Entities.Student

<h1>Adicionar Estudante</h1>

@if (Model is null)
{
   <p>Nenhum estudante foi encontrado com essa identificação</p>
} 
else 
{
    <form method="post">
        <div class="mt-3">
            <label class="form-label">Id</label>
            <input type="text" class="form-control" readonly asp-for="Id" />
        </div>

        <div class="mt-3">
            <label class="form-label">Nome</label>
            <input type="text" class="form-control" asp-for="Name" />
        </div>

        <div class="mt-3">
            <label class="form-label">E-mail</label>
            <input type="email" class="form-control" asp-for="Email" />
        </div>

        <div class="mt-3">
            <label class="form-label">Telefone</label>
            <input type="text" class="form-control" asp-for="Phone" />
        </div>

        <div class="mt-3">
            <input type="checkbox" class="form-check-inline" id="Subscribed" asp-for="Subscribed" />
            <label class="form-check-label" for="Subscribed">Inscrito</label>
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Salvar</button>

            <button type="submit" class="btn btn-danger ms-3" asp-action="Delete" asp-controller="Students">Excluir</button>
        </div>
    </form>

}
